        #inputText {
            font-size: 2em;
            font-family: arial;
        }

        #unicodeOutput {
            font-size: 1em;
            font-family: consolas;
            width: auto;
            height: 50px;
        }

        body {
            font-size: 1em;
            font-family: arial;
        }

        button {
            background: darkgrey;
            font-family: Arial;
            height: 40px;
            width: 175px;
            border-radius: 12px;
            border-color: black;
            border: 2px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            font-size: 1.00em;
            margin-bottom: 15px;
            margin-right: 20px;
        }

        label {
            width: 150px;
        }
